<!DOCTYPE html>
<html lang="en">

  <head>
    <link href="../css/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
  </head>

<!-- the only differences between pages -->
<!-- are whether class="pwd" for PRODUCTS vs. CART -->
<!-- title of page on line 7 -->
<!-- Line next to logo <h1> -->

  <body>
    <div class="navbar">

      <!-- LEFT BIT OF NAVBAR -->
      <div class="logo">
            
          <a href="gallery.html"><img src="../static/logo-01.svg" alt="Bun Bun Bake Shop Logo"></a>

      </div>

      <!-- RIGHT HALF OF NAVBAR -->
      <div class="navbar-right">
        
        <div class="nav-buttons">
          <div>
            <a href="./gallery.html" class="nav">PRODUCTS</a> 

          </div>

          <div>
            <a href="./cart.html" class="pwd nav">CART</a>
          </div>

        </div>
        <hr class="thick">

        <h1>Shopping Cart</h1>
      </div>
      
    </div>

    <!-- BODY CONTENT STARTS HERE -->




    <!-- PRODUCT 1 of 2 -->
      <div class="bunitem">
          <img src="../static/original-cinnamon-roll.jpeg" class="bunsmall" alt="Original cinnamon roll">

          <div class="remove">
              Remove
          </div>
          <div>
            Original Cinnamon Roll
          </div>

          <div>
            Glazing: Keep original
          </div>

          <div class="margin-below">
            Pack Size: 1
          </div>

          <div>
            $ 2.49
          </div>
      </div>

      <!-- PRODUCT 2 of 2 -->
      <div class="bunitem">
          <img src="../static/double-chocolate-cinnamon-roll.jpeg" class="bunsmall" alt="Double-chocolate cinnamon roll">
          
          <div class="remove">
            Remove
          </div>
          
          <div>
            Double Chocolate Cinnamon Roll
          </div>

          <div>
            Glazing: Sugar milk
          </div>

          <div class="margin-below">
            Pack Size: 6
          </div>

          <div>
            $ 27.45
          </div>
      </div>


    <hr class="thick">

    Total: $29.94

    <br>

    <button type="button">Checkout</button>


  </body>
</html>
