<!DOCTYPE html>
<html lang="en">

  <head>
    <link href="../css/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Product Details</title>
  </head>


  <body>
    <a href="gallery.html"><img id="logo" src="../static/logo-01.svg" alt="Bun Bun Bake Shop Logo"></a>

    <hr class="thick">

    <div>
      <a href="./gallery.html" class="nav">PRODUCTS</a>
      <br>
      <a href="./cart.html" class="pwd nav">CART</a>
    </div>

    <br>

    <br>

    <!-- BODY CONTENT STARTS HERE -->

    <h1>Shopping Cart</h1>


    <!-- PRODUCT 1 of 2 -->
      <div class="bunitem">
          <img src="../static/original-cinnamon-roll.jpeg" class="bunsmall">

          <div class="remove">
              Remove
          </div>
          <div>
            Original Cinnamon Roll
          </div>

          <div>
            Glazing: Keep original
          </div>

          <div class="margin-below">
            Pack Size: 1
          </div>

          <div>
            $ 2.49
          </div>
      </div>

      <!-- PRODUCT 2 of 2 -->
      <div class="bunitem">
          <img src="../static/double-chocolate-cinnamon-roll.jpeg" class="bunsmall">
          
          <div class="remove">
            Remove
          </div>
          
          <div>
            Double Chocolate Cinnamon Roll
          </div>

          <div>
            Glazing: Sugar milk
          </div>

          <div class="margin-below">
            Pack Size: 6
          </div>

          <div>
            $ 27.45
          </div>
      </div>


    <hr class="thick">

    Total: $29.94

    <br>

    <button type="button">Checkout</button>


  </body>
</html>
