<!DOCTYPE html>
<html lang="en">

  <head>
    <link href="/solution-hw1/css/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <a href="gallery.html"><img id="logo" src="/solution-hw1/static/logo-01.svg" alt="Bun Bun Bake Shop Logo"></a>
  </head>


  
  <body>
    <hr class="thick">

    <div>
      <a href="/solution-hw1/templates/gallery.html" class="nav">PRODUCTS</a>
      <br>
      <a href="/solution-hw1/templates/cart.html" class="pwd nav">CART</a>
    </div>

    <br>

    <br>

    <h1>Shopping Cart</h1>

    <section>
        <div class="bunitem">
            <img src="/solution-hw1/static/original-cinnamon-roll.jpeg" class="bun">
            Original Cinnamon Roll

            Glazing: Keep original

            Pack Size: 1
            <br>
            $ 2.49
        </div>

        <div class="bunitem">
            <img src="/solution-hw1/static/double-chocolate-cinnamon-roll.jpeg" class="bun">
            Double Chocolate Cinnamon Roll

            Glazing: Sugar milk

            Pack Size: 6
            <br>
            $ 27.45
        </div>
        
    </section>

    <hr class="thick">

    Total: $29.94

    <br>

    <button type="button"> Add to Cart</button>


  </body>
</html>
