<!DOCTYPE html>
<html lang="en">

  <head>
    <link href="../css/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Product Details</title>
  </head>


  <body>
    <a href="gallery.html"><img id="logo" src="../static/logo-01.svg" alt="Bun Bun Bake Shop Logo"></a>

    <hr class="thick">

    <div>
      <a href="../templates/gallery.html" class="pwd nav">PRODUCTS</a>
      <br>
      <a href="../templates/cart.html" class="nav">CART</a>
    </div>

    <br>

    <br>

      <!-- ACTUAL PAGE CONTENT STARTS HERE! -->
    <h1>Original cinnamon roll</h1>

      <div class="details">
          <img src="../static/original-cinnamon-roll.jpeg" class="bun" alt="Original cinnamon roll">
          
          <div class="customize">
              Customize our delicious, hand-made cinammon roll to your liking!
          </div>

          <br>
          <br>
          <br>

          <!-- DROPDOWNS START HERE -->

          Glazing:

          <div class="custom-select" style="width:200px;">
              <select>
                <option value="0">Keep original</option>
                <option value="1">Sugar milk</option>
                <option value="2">Vanilla milk</option>
                <option value="3">Double chocolate</option>
              </select>
          </div>

          <br>

          Pack size:

          <div class="custom-select" style="width:200px;">
              <select>
                <option value="0">1</option>
                <option value="1">3</option>
                <option value="2">6</option>
                <option value="3">12</option>
              </select>
          </div>

          <br>

          <!-- ADD TO CART  -->
          <div class="add-to-cart">
              <div class="detail-price">
                  $2.49
              </div>
              <button type="button">
                  Add to Cart
              </button>
          </div>

          <!-- <div class="detail-price">
              $ 2.49 <button type="button"> Add to Cart</button>
          </div> -->
          

      </div>


  </body>
</html>
