<!DOCTYPE html>
<html lang="en">

  <head>
    <link href="/solution-hw1/css/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Product Gallery</title>
    <a href="gallery.html"><img id="logo" src="/solution-hw1/static/logo-01.svg" alt="Bun Bun Bake Shop Logo"></a>
  </head>


  
  <body>
    <hr>

    <div>
      <a href="/solution-hw1/templates/gallery.html" class="pwd">PRODUCTS</a>
      <br>
      <a href="/solution-hw1/templates/cart.html">CART</a>
    </div>

    <h1>Our hand-made cinnamon rolls</h1>

    <section>
        <div class="bunitem">
            <a href="detail.html"><img src="/solution-hw1/static/original-cinnamon-roll.jpeg" class="bun"></a>
            <u>Original Cinnamon Roll</u>
            <br>
            $ 2.49
        </div>
        <div class="bunitem">
            <a href="detail.html"><img src="/solution-hw1/static/apple-cinnamon-roll.jpeg" class="bun"></a>
            <u>Apple Cinnamon Roll</u>
            <br>
            $ 3.49
        </div>
        <div class="bunitem">
            <a href="detail.html"><img src="/solution-hw1/static/raisin-cinnamon-roll.jpeg" class="bun"></a>
            <u>Raisin Cinnamon Roll</u>
            <br>
            $ 2.99
        </div>
        <div class="bunitem">
            <a href="detail.html"><img src="/solution-hw1/static/walnut-cinnamon-roll.jpeg" class="bun"></a>
            <u>Walnut Cinnamon Roll</u>
            <br>
            $ 3.49
        </div>
        <div class="bunitem">
            <a href="detail.html"><img src="/solution-hw1/static/double-chocolate-cinnamon-roll.jpeg" class="bun"></a>
            <u>Double-chocolate Cinnamon Roll</u>
            <br>
            $ 3.99
        </div>
        <div class="bunitem">
          <a href="detail.html"><img src="/solution-hw1/static/strawberry-cinnamon-roll.jpeg" class="bun"></a>
            <u>Strawberry Cinnamon Roll</u>
            <br>
            $ 3.99
        </div>

    </section>

  </body>
</html>
