<!DOCTYPE html>
<html lang="en">


  <head>
    <link href="../css/styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Product Details</title>
  </head>


  <body>
    <a href="gallery.html"><img id="logo" src="../static/logo-01.svg" alt="Bun Bun Bake Shop Logo"></a>

    <hr class="thick">

    <div>
      <a href="./gallery.html" class="pwd nav">PRODUCTS</a>
      <br>
      <a href="./cart.html" class="nav">CART</a>
    </div>

    <br>

    <br>

    <!-- BODY CONTENT STARTS HERE -->

    <h1>Our hand-made cinnamon rolls</h1>


      <div class="bunitem">
          <a href="detail.html"><img src="../static/original-cinnamon-roll.jpeg" class="bun"></a>
          <div class="description">
            <div class="buntitle">
              <a href="detail.html" class="black">Original cinnamon roll</a>
            </div>
            <div class="price">$ 2.49</div>
          </div>
      </div>

      <div class="bunitem">
          <a href="detail.html"><img src="../static/apple-cinnamon-roll.jpeg" class="bun"></a>
          <div class="description">
            <div class="buntitle">
              <a href="detail.html">Apple cinnamon roll</a>
            </div>
            <div class="price">$ 3.49</div>
          </div>

      </div>
      <div class="bunitem">
          <a href="detail.html"><img src="../static/raisin-cinnamon-roll.jpeg" class="bun"></a>
          <div class="description">
            <div class="buntitle">
              <a href="detail.html">Raisin cinnamon roll</a>
            </div>
            <div class="price">$ 2.99</div>
          </div>
      </div>
      <div class="bunitem">
          <a href="detail.html"><img src="../static/walnut-cinnamon-roll.jpeg" class="bun"></a>
          <div class="description">
            <div class="buntitle">
              <a href="detail.html">Walnut cinnamon roll</a>
            </div>
            <div class="price">$ 3.49</div>
          </div>
      </div>
      <div class="bunitem">
          <a href="detail.html"><img src="../static/double-chocolate-cinnamon-roll.jpeg" class="bun"></a>
          <div class="description">
            <div class="buntitle">
              <a href="detail.html">Double-chocolate cinnamon roll</a>
            </div>
            <div class="price">$ 3.99</div>
          </div>
      </div>
      <div class="bunitem">
        <a href="detail.html"><img src="../static/strawberry-cinnamon-roll.jpeg" class="bun"></a>
          <div class="description">
            <div class="buntitle">
              <a href="detail.html">Strawberry cinnamon roll</a>
            </div>
            <div class="price">$ 3.99</div>
          </div>
      </div>


  </body>
</html>
