
body {
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

    /* sans-serif font */
    font-family: Arial, Helvetica, sans-serif;

}

#logo {

    width: 25%;

    /* margin: top right bottom left */
    margin: 50px 750px 25px 10px;
}

.thick {
    position: relative;
    top: 20px;
    border: none;
    height: 6px;
    background: black;
    margin-bottom: 50px;
}

.nav {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.bunitem {
    margin: 40px auto 0px auto;
    width: 300px;
    font-size: 24px;
    padding: 10px;
}

.pwd,
.bunitem:hover {
    background-color: yellow;
    font-weight: bold;
}

.bun {
    width:300px;
    height: 300px;
    border: 4px solid #000;
}